<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, user-scalable=yes, inital-scale=1.0, maximum-scale=1.0">

	<script src="https://kit.fontawesome.com/3acd85c923.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/estilos.css">
	<link rel="stylesheet" href="/img/fondoregistrar.jpg">

	

</head>
<body>
	<form class="formulario" th:action="@{/usuario/entrar}" method="POST"> 
		<h1>Iniciar Sesion</h1>
		<div class="contenedor">

			<div class="input-contenedor">
				<i class="fas fa-envelope icon"></i>
				<input type="text" placeholder="Email"  name="mail">
			</div>
			
			<div class="input-contenedor">
				<i class="fas fa-key icon"></i>
				<input type="password" placeholder="Contraseña" name="password">
			</div>
			
			<input type="submit" value="Log in" class="button">

			<p>¿No tienes una cuenta? <a class="link" href="/usuario/actualizacion">Registrate</a></p>
		</div>
	</form>
</body>
</html>