<!DOCTYPE html>
<html lang="en"        xmlns:th="http://www.thymeleaf.org"  
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">  
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, user-scalable=yes, inital-scale=1.0, maximum-scale=1.0">

	<script src="https://kit.fontawesome.com/3acd85c923.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/estilos.css">
	<link rel="stylesheet" href="/img/fondoregistrar.jpg">
	<script src="validar.js"></script>
        xmlns:th="http://www.thymeleaf.org"  
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">  

	

</head>
<body>
    <form class="formulario" method="POST" enctype="multipart/form-data" formaction="/usuario/actualizar"  onsubmit=" return validar();"> 
		<h1>Registrate</h1>
		<div class="contenedor">

                     <input type="hidden" name="id" th:value="${usuario.id}"/>
                    
			<div class="input-contenedor">
				<i class="fas fa-user icon"></i>
				<input id="nombre" type="text" placeholder="Nombre" name="nombre" required th:value="${usuario.nombre}">
			</div>
			<div class="input-contenedor">
				<i class="fas fa-user icon"></i>
				<input id="apellido" type="text" placeholder="Apellido"  name="apellido" required th:value="${usuario.apellido}" >
			</div>
			<div class="input-contenedor">
				<i class="fas fa-envelope icon"></i>
				<input id="email" type="text" placeholder="Email" required name="mail" th:value="${usuario.mail}" >
			</div>
			<div class="input-contenedor">
				<i class="fas fa-user icon"></i>
				<input id="dni" type="text" placeholder="Dni" required name="documento" th:value="${usuario.documento}" >
			</div>
			<div class="input-contenedor">
				<i class="fas fa-mobile icon"></i>
				<input id="telefono" type="text" placeholder="Telefono" name="telefono" required th:value="${usuario.telefono}">
			</div>
			<div class="input-contenedor">
				<i class="fas fa-key icon"></i>
				<input id="contraseña" type="password" placeholder="Contraseña" name="contrasenia" required th:value="${usuario.contrasenia}">
			</div>
			<div class="input-contenedor">
				<i class="fas fa-camera icon"></i>
				<input type="file" placeholder="Foto" name="archivo" th:value="${usuario.foto}">
			</div>
               <input type="submit" value="Registrate" class="button" formaction="/usuario/actualizar" method="POST">

			<p>Al registrarte, aceptas nuestras Condiciones de uso y Politica de privacidad.</p>
			<p>¿Ya tienes una cuenta? <a class="link" src="/tatoo/index"  >Iniciar Sesion</a></p>
		</div>
	</form>
</body>
</html>