<!DOCTYPE html>
<html lang="en"        xmlns:th="http://www.thymeleaf.org"  
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">  
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, user-scalable=yes, inital-scale=1.0, maximum-scale=1.0">

	<script src="https://kit.fontawesome.com/3acd85c923.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/estilos.css">
	<link rel="stylesheet" href="/img/fondoregistrar.jpg">
	<script src="validar.js"></script>
      
        <link href="https://fonts.googleapis.com/css?family=Merriweather|Ubuntu&display=swap" rel="stylesheet">
          <!--Así se ve bien en productos apple -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta http-equiv="expires" content="Thu Oct 14 16:06:35 CEST 2027">

  <!-- Place your kit's code here -->
  <script src="https://kit.fontawesome.com/9495ff8eaa.js" crossorigin="anonymous"></script>

  <!-- Siempre se coloca primero normalize.css porque ajusta los estilos predefinidos de los navegadores-->
  <link rel="stylesheet" href="/css/normalize.css" type="text/css">
  
  <!-- Hoja de estilos para index.html -->
  <link rel="stylesheet" href="/css/estilosIndex.css">
	

</head>
<body>
    
      <div id="pantalla">
    
    <nav id="nav">
      <div class="container"> 
        <ul>
          <li><a href="#">Ink Mountain</a></li>
          <li><a href="/tatoo/login">Login</a></li>
          <li><a href="/usuario/actualizacion">Registro usuario</a></li>
          <li><a href="/proveedor/actualizacion">Registro tatuador</a></li>
          <li><a href="#contacto">Contacto</a></li>
        </ul>
      </nav>
    </div>
        
        
        
    <form class="formulario" method="POST" enctype="multipart/form-data" formaction="/proveedor/actualizar"  onsubmit=" return validar();"> 
		<h1>Registrate</h1>
		<div class="contenedor">

			<div class="input-contenedor">
				<i class="fas fa-user icon"></i>
				<input id="nombre" type="text" placeholder="Nombre" name="nombre" required th:value="${proveedor.nombre}">
			</div>
			<div class="input-contenedor">
				<i class="fas fa-user icon"></i>
				<input id="apellido" type="text" placeholder="Apellido"  name="apellido" required th:value="${proveedor.apellido}" >
			</div>
			<div class="input-contenedor">
				<i class="fas fa-envelope icon"></i>
				<input id="email" type="text" placeholder="Email" required name="mail" th:value="${proveedor.mail}" >
			</div>
                        <div class="input-contenedor">
				<i class="fas fa-key icon"></i>
				<input id="contraseña" type="password" placeholder="Contraseña" name="contrasenia" required th:value="${proveedor.contrasenia}">
			</div>
			<div class="input-contenedor">
				<i class="fas fa-user icon"></i>
				<input id="dni" type="text" placeholder="Dni" required name="documento" th:value="${proveedor.documento}" >
			</div>
			<div class="input-contenedor">
				<i class="fas fa-mobile icon"></i>
				<input id="telefono" type="text" placeholder="Telefono" name="telefono" required th:value="${proveedor.telefono}">
			</div>
                        <div class="input-contenedor">
				<i class="fas fa-user icon"></i>
				<input id="estilo" type="text" placeholder="Estilo" name="estilo" required th:value="${proveedor.estilo}">
			</div>

			<div class="input-contenedor">
				<i class="fas fa-user icon"></i>
				<input type="text" placeholder="Provincia" name="provincia" >
			</div>    
			<div class="input-contenedor">
				<i class="fas fa-user icon"></i>
				<input type="text" placeholder="Barrio" name="barrio" >
			</div>   
                    
                        <div class="input-contenedor">
				<i class="fas fa-camera icon"></i>
				<input type="file" placeholder="Foto" name="archivo" th:value="${proveedor.fotoPerfil}">
			</div>
                    
               <input type="submit" value="Registrar" class="button" formaction="/proveedor/actualizar" method="POST">

			<p>Al registrarte, aceptas nuestras Condiciones de uso y Politica de privacidad.</p>
			<p>¿Ya tienes una cuenta? <a class="link" src="/tatoo/login"  >Iniciar Sesion</a></p>
		</div>
	</form>

<!--        <form class="form-inline my-2 my-lg-0" action="/ubicacion/listaubicacion" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar"  name="q" th:value="${q}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar <i class="fa fa-search"></i></button>
        </form>
    <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th href="#" class="text-white">Provincia</th>
                  
                 
                </tr>
            </thead>
            <tbody>
                <tr th:each="q : ${q}">
                    <td href="#" class="text-white" th:text="${q.provincia_nombre}"></td>                               
                    
                </tr>
            </tbody>-->
<!--<div class="col-lg-3" th:object="${ubicaciones}">-->

<!--SEGUIR INVESTIGANDO ESTO-->
<!--<div class="col-lg-3" >
<select action="${/ubicacion/listaubicacion}"   >
        <option value="" th:each="ubicacion : ${ubicaciones}" 
                th:value="${ubicacion}" 
                th:text="#{${ubicacion.nombre_provincia}}" >
            Ubicacion</option>
       
    </select>
</div>-->
<!--
<table class="table">
    
    <thead>
        <tr>
            <th href="#">Nombre</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="ubicacion : ${ubicaciones}">
            <td href="#" th:text="$ubicacion.nombre_provincia"></td>
        </tr>
            
    </tbody>
</table>-->

<!--<form name="formulario" method="post" action="">
   Campo de texto combinado con lista de opciones 
  <input type="text" list="items">
   Lista de opciones 
  <datalist id="items">
    <option value="1">Opción 1</option>
    <option value="2">Opción 2</option>
    <option value="3">Opción 3</option>
  </datalist>
</form>-->
</body>
</html>