<!DOCTYPE html>
<html>
    <head>
        <title>Tatoo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
<!--        FORMULARIO DE PRUEBA REGISTRO USUARIO-->
         <section class = "form2">
                <br>
                <br>
                <br>
                <div class="container-sm" >
                    <form enctype="multipart/form-data">
                        <input type="hidden" name="id" th:value="${cliente.id}"/>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Nombre</label>
                                <input type="text" class="form-control" name="nombre" th:value="${usuario.nombre}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Apellido</label>
                                <input type="text" class="form-control" name="apellido" th:value="${usuario.apellido}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">DNI</label>
                            <input type="text" class="form-control" name="documento" th:value="${usuario.documento}">
                        </div>
                        <div class="form-group">
                            <label for="inputAddress2">Telefono</label>
                            <input type="text" class="form-control" name="telefono" th:value="${usuario.telefono}">
                        </div>
                         <div class="form-group">
                            <label for="inputAddress2">Mail</label>
                            <input type="text" class="form-control" name="mail" th:value="${usuario.mail}">
                        </div>
                         <div class="form-group">
                            <label for="inputAddress2">Constrasenia</label>
                            <input type="text" class="form-control" name="contrasenia" th:value="${usuario.constrasenia}">
                        </div>
                        
                        
                        <div class="form-group">
                            <label for="inputAddress2"></label>
                            <input type="file" name="archivo" th:value="${usuario.foto}">
                            
                        </div>
                            
                            


                        <button type="submit" class="btn btn-primary" formaction="/cliente/actualizar" formmethod="POST">Registrar</button>
                        <button type="submit" class="btn btn-primary" formaction="/cliente/listado" formmethod="GET">Volver</button>

                    </form>
                </div>
                <br>
                <br>
                <br>
            </section>
        
    </body>
</html>
